<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The Binaries - Grupo 3 * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<table class="">
  <tr>
    <td><h1>{{title}}</h1></td>
    <td> &copy; </td>
    <td><img class="img-responsive" src="assets/images/logo.png"></td>
  </tr>
</table>




<td><app-canciones></app-canciones></td>
<app-cancion></app-cancion>
<td><app-reproductor></app-reproductor></td>

