/* Estilos para títulos*/

h1{
  color:#98a900;
  font-family: sans-serif;
  font-size:250%;
}

h2{
  color:#064716;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;

}
